body{
    background-color: rgb(35, 106, 177);
}
h1{
    text-align: center;
    }
p{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    font-size: 12px;
    text-align: center;
}
.card{
    background-color: rgb(250, 250, 250);
    height: 200px;
    width: 900px;
    border-radius: 15px;
    margin-left:  250px;
    padding-bottom: 20px;
    padding: 10px 22px;
}