button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(166, 206, 210);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:0.7s ease-in;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: .10s;
}
/*  transform 0.3s vhange smoothly 
    ease natural speed 
    ease-in slow start 
    ease out slow end */

button:hover{
    background-color: red;
    transform: scale(1.1);
}
.box {
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:white;
    transition:0.5s ease;

}
.box:hover{
    background-color:red ;
    transform:rotate(360deg) scale(1.1);
}
.movebox{
    width: 150px;
    height: 150px;
    background-color: #c871ca;
    position: relative;
    left:0px;
    font-size:20px;
    color:white;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move{
    from{left:0px;}
    to{left: 700px;}
}

.loader{
    width: 50px;
    height: 50px;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.dot-loader span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius:50% ;
    margin: 6px;
    animation: dot 1s infinite both ;
}
.dot-loader span:nth-child(2){
    animation-delay: 0.25s;

}
.dot-loader span:nth-child(3){
    animation-delay: 0.25s;

}
@keyframes dot{
    0%, 100% {opacity: 0.3;}
    50% {opacity: 1;}
}
.card{
    width: 200px;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px egba(0,0,0,0.1);
    transition: all 0.3 ease;

}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
