/* h3{
    color:chartreuse;
    background-color: cornflowerblue;
} */

/* universal selector */
 /* *{
    color: brown;
 } */
/* h2{
    color: blue;
    background-color: black;
    font-size: 24px;
    font-weight:lighter;
/* } */
 /* id is an always unquie its does not reapted any it. is used for any one to styles */
/* #id1,p{
    color: aqua;
    background-color: red;
}
.card{
    color: aliceblue;
    background-color: chartreuse;
} */
 /* combinator */
 .h2,p{
    color: rgb(54, 129, 196);
 }
 
/* Decendent */
/* div p{ */
    /* color: rebeccapurple; */
/* }
 <div>
        <p> Para1</p>
        <p> Para1</p> */
        /* <p> Para1</p>
< */