.head{
    height: 100%;
    width: 90%;
    border: 1px solid black;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQA9QMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAABAgMABAUG/8QAMxAAAgIBBAECBAMIAgMAAAAAAAECEQMEEiExQRNRBSIyYXGBkSMzQlJiobHBFPBDgtH/xAAZAQADAQEBAAAAAAAAAAAAAAAAAQIDBAX/xAAfEQEBAQEAAwEBAAMAAAAAAAAAARECEiExA0ETIjL/2gAMAwEAAhEDEQA/APsdbi1ScsuaLnCStyv9DknlnJp5JuT6+bwj6/JiUsbxKkpR29X+Z8tL4XrMOoWF4Zz3OlNR+Wr7bOydPK65r1/gsN+GOSHF2mvDo9hv5Dh+HvSY/S0be7a3sdfVXb/M9L0scv3c2q75Mur7b8cyRBnTu/ZxJyxuL45fj5R8ezJCk3cXyn7ha0axr4EipRbTdjMmmNi3yYBBjvopF7lZFhjKiKqVWjAUrQbM6uBJixgFjOXCIrSN4kQk65Kxm03u54OdmP6delQbvkeMuCai/ZDK/FWY83Lq2r5rKRVnPn1EML2u5y/ljRyT+KPFzLFFf+9l883dXz+fV+PWfywk12icX59zn0uozazTrIoQxQfiTbb/AMUXi+k3yvyOjlOWelBZS2wbM5JeSUpb5+nHx2XbMGINSnKLfCbvb7DSXHj9B5vbkf8ALSSfgnuI5kxrEnHdP+mP9zog4xlz/F0JBchUV3/CFns7daefEpPnn8DGeKPsAPGl/qqqfN8eDZFug07kn2rCo0qSSXslRkei8N52TZjy0sdU0oJyVtv/AEd3w/M5YnLJGKnxbXUv+8nFPHmnqZtQx2nuVtq6fTX+zs0mD0l9klGPFcL3/UVPn66M7lLHcPqrohhUpK937V2rvtnT4JzxJyVUkubrmya1bBv9OW+TfPHHY5PDOb3rJSSl8teUVaFTAzMYkyMyNIaEb5M6qGjwGwtUKZ2tIJmYxnVwgs1xY0iLnzT6MP0xcFS4oKZK+WUg+TGVePNzuUtRkruyE8aU8fqq05c2dDWzPkT/AJmyUrzZ4wi+nZ2/OXdzci2GWfT4pKntcq3AU8juSl+p6Oqw+tgeOLcXXD9nZwxx5fUWPLGMb9naJ591jz3PtRnqtTjrYk7dfgejo2/RV8zdtshqoRx4JOuUjaPNUUn5L75w+s6myOmd+UScY/cecr48e4uy+mc1tTykpyjkrwGOSntfA+xR4fJLLFwuUVafNvww46sqrJXYmlFW7CJpm9RhjKC2pcX7hOuXY57coQlJYVLNUGl8zk6oMZJpSTTjLppqjh1+LNqYR0+RYZKTrY4XG/fn/wCFdBpsmnjKM5/LSUY31X/f7He8f+46ppyjUXXv+FgUpwWOLW6qUrHsaPPYquGB2GuDJUTVyEyw3QcYycXVWh1b7dtDNGURVUhQ0NtYWiauRJoePQGuQrozqpGYoWAyq5GujGCkZrGUbITxnSBxsXXGnK5PTSGqukXcUI0jL/HitceTRRyZJTllny7peC2DTYcP7uCvzJ9srQHwP2vyt9HfRwa1zx5ozjjlJNbflV1ydLkykOebY4c9OSWLJqIuOSox54RyQ0moxygqTS87j1muQe6rsu21c7xNx+wYxodQ4DRPiWuXLe8G7cqaLSx3KwKKXgzy6rSwUoQjGH5+DFVExtOaztjzv+Xu10Hhg97tTjJ2nxaZX4flnLLPHLPjybk5RSfK55VE9P8AD56f4hPVTko4FB0ly782PodPgnmeR4l60XJxn7xbPU14sldzDFgmZCX/AFZBXYsGm6GJrWHSD0KnQ12QsQMKAwplDQaMyKuEozVDIPZnYqJBiFx5DFEYpjBoJWAjQrRSgNE3k4klyZoptA0R4r1FqxlwguhJfYnMVmi5AjISTrsEXyCsXA1YEOmVE1Nxa8AUSztiy+XpWVORpaAM2vcBeETVQWbH6bbUX3t4HUYxSUYpUqFkzJna87GkJdBk2JyCcNGTjLgqsytJpkaGS45FWnMdXaVeRkJj+lDohpIKCZGJphRqGN4JqoUwTMWKKEJicMDGMI2AzcgA8ZgZgNiNORKSfhstJE2Z2NeUnFv3MlRaKTRpQXdi8VaWDbdFPDrsSm1wNjVRZciKdZFuUfIxNrka76ZaQ2x9jFfTZgwvKOKcmvwEjlQcnKohto7XBXRvvo3JKCKxddiORSBSKT7IKaXRSE+Ca0kWjxwh0ySmMnZC8VQaFiMmKnIYxgNCp4BmzAZKmCLZtwYeCYyYrYhgsAGwWSqRmxbC2I2KnILZOXIWxSVyBQZpJr8ABknw2PAWOWk7fSLxarh9nLlxy5URYylGCU1T/wA8jgsjs3R6vkMJRUkrpvpHKnF5Labb6QJzi9VHddwjSrwMvHXqKX9RjlU47pK+jDZeLz5Pl8jQM4WGMeTs1zeJlE2T6QpGlHeSrEovkrFgjjk3tj0aWL039mKrkVUhoTpkYq+C8I0iFY6IcqxhMX0jtgeGQ3gnFjMkisWxmKJcYDYRGIxUgiQXzlZx2xX+gwr6TYrYzEl+BK4F8h78CxlGSuPQyAEnS4ckm+rJTnHFHdOSjFdtsT4ji9XBw2pR5VHnRlqHW2bnjfiX+Ca2452PVx5IZI7sc1Je6Y98HkfCt2LUyh/45x3Rfv1R6iWWcqwqPDW5y9gnsu5ObjZcrxQlJJyddE3L/kYozhw4u6f9ymbFkhH92vykQ0+OL1OFptRt2v1KxPrNUccnqRm1WPaSyS35Lw3KS6pHqOSBaTHiZ+lhIaaTinSc6+a35MU3GDGW1zOIjXNDykk+yeXJsUdqu3ydDPBpDRXAIVKS/l9ztePFHhdCoxxxTjzFW/I31FJxdJxXyicoWrkFR+w6XAikxlISsUhxEzAmZsAaA5JMonwTSsZoULYjZJxmxJMEmSmwacxpTKRzTaac+PxOaTLabEsq+tL7ULV9cyTae9zqKt+RdrlKm+PYrBenvbVtdMjue5voeM57+Hakpc/T0NVKhE2+2Onx4EEc25xexpSXVnl58OeV/sbb9pbVZ60ub64OeU748Csa8OXTty1OHC4tJWuul7Ht7ViSS6R5sce751Xyc2u7PSwTWowqfnz+I4z/AFoZJcWzgzZoQyptr9To1CtcOn9zy9asnpNp83QaPz58vjvjm3XfRfC7W6Z52nxPmUlarqzoy51HH3wxSq65947PVxexjzfUytfs4xS/qdGDyL/G6ZYudzTdBcVNJrrwV23kUtztBSUW6N9Y4ljhUaKtt9MopxXuLkmp/SgLCK0+Xx7GYGK5CXILMrFux10CsMpcB3pEzCp4bdY8ZOiI8WIrFLFbM2JJkiRpMkzSbXIsppRtg0npnCW3c18vuU0UowyNbVz5RTG9+n28WBqMOo1wgRetmVeceHXno5muRo5G0zbW7vyBcyxFyp/YHqut0eRcyUbUbdj4NPNw+aq/ETTYZttJyi02gZdO1ig8cW23ykdEIPY1kSr3KxS2Jx5iuh5rO92X05sMckcU8bhtp9s5M2oy6JuWFra3ymuD08kpJcR755PNyQhOGXPmxxcoPYlXArBxZbvRtHr4a3U+l6dUrbUrR36jSYtRg9OSpdrg834VpvTf/Ip7n9NeEd2o1GSCfEaoc+ey/STzzh5Oq1D0UpYox3KK+rdRxx1Wonk3qW2L/gS4aG1SeWUnV32DHPa4x2pR21SXRjd16HPPM59rrXtqvTfHvExN4nJ2pOvszBtTn5voPIr7MY63nlY6RjCMrJy7MYFgMjGAxYrCYVVGQUYxKabwLLoBhCJ9snkgtjfkxgWvBVDgpFbuzGBn0TDFepND5OGq9jGAr9Sf1HdiglGzGGX6fCajjG6FxY4vBGXPHK5MYqI/iq+lHn0pwywl9Mrsxiarh24FUIJdKKIaz5pNPqgGFRz/ANPOzwilwh8+KNRftwYxm69+BjxxoxjAK//Z);
    background-size: cover;
    justify-content: center;
}
.main{
     height: 100px;
    width: 150px;
    border: 2px solid black;
    padding: 12px;
    gap: 2px;
    
}
.main.order{
    order: -1;
    
}
/* default order value 0
depend on order value if order value is big then container be last */
/* flex Flexbox Froggy - A game for learning CSS flexbox */
/* 
flex:- start
height - vertical center alignment
row directions e kam karta hai 

flex-wrap: choti screen or badi screen ya next line me chale jata hai 
resonsive behariour 
//wrap nhi diya to overflow hota hai /fadti hai screem

*/
/* default flex direction row hota hai

flex direction ->row 
row -reverse 
column-reverse
*/

/* 
justify-content specifier:center
space-between 
space-evenly
space-aroud
 */